.curriculoFborsari{
    margin-top: 25%;
    }
    
.contactlipe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

}

.skillslipe{
    align-items: center;

}